@font-face {
  font-family: 'Lasters';
  src: url('font/Lasters.ttf') format('truetype');
}

/* Global Styles */
:root {
    --primary-color: #fff;
    --secondary-color: #A0C3D3;
    --azul: #47D4FE;
    --roxo: #480A55;
}
html{
    scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira Condensed', Inter, Geneva, Verdana, sans-serif;
}

body {
  line-height: 1.6;
  overflow-x: hidden;
  width: 100%;
  color: #fff;
}
section[class^="secao-"] {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.secao-hero {
  background-image: url('../img/img-secoes/secao-1.webp');
}

.secao-about {
  background-image: url('../img/img-secoes/secao-2.webp');
}

.secao-qualification {
  background-image: url('../img/img-secoes/secao-3.webp');
}

.secao-projects {
  background-image: url('../img/img-secoes/secao-4.webp');
}

.secao-contact {
  background-image: url('../img/img-secoes/secao-5.webp');
}



a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
footer {
    text-align: center;
    padding: 2rem;
    background: var(--secondary-color);
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: block;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .about-container, 
    .qualification-container,
    .contact-container {
        flex-direction: column;
    }

    .about-img {
        text-align: center;
        margin-bottom: 2rem;
    }
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.hero-content, 
.about-container, 
.qualification-container, 
.projects-container, 
.contact-container {
    animation: fadeIn 1s ease-out;
}